* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: aqua;
  }
  
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 200px;
  }

  .container h2 {

    color:black;
    font-size: 16px;
  }
  
  .scroll-container {
    width: 120px;
    text-align: center;
    overflow: hidden;
    height: 20px;
    background-color: aliceblue;
    border-radius: 25px;
    border: 1px solid #021c35;
  }
    
  #scrollDownButton, #scrollUpButton {
    font-size: 12px;
    margin: 2px;
    cursor: pointer;
    background-color: black;
    color: white;
    border: none;
    padding: 5px 20px;
    border-radius: 5px;

  }
  
  #scrollDownButton:hover {
    background-color: #05fd11;
  }
  